.home-links-to-studying-container{
    background: url('src/assets/background/backLinks.png');
    background-size: cover;
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 150px);
    align-content: center;
    gap: 25px;
    padding: 60px 40px;
}