.highlightedText-with-dots{
    border-width: 1px;
    border-style: solid;
    border-top: none;
    border-bottom: none;
    padding: 6px 0 3px 0;
    position: relative;
}
.highlighted-dot{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.highlighted-dot.p1{
    top: -3px;
    left: -3px;
}
.highlighted-dot.p2{
    top: -3px;
    right: -3px;
}
.highlighted-dot.p3{
    bottom: -3px;
    left: -3px;
}
.highlighted-dot.p4{
    bottom: -3px;
    right: -3px;
}