.home-main-banner-container{
    font-family: Unbounded;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 70px 175px 40px 200px;
    position: relative;
}
.home-main-banner-img {
    display: flex;
    align-self: flex-end;
    width: 650px;
    height: 380px;
    overflow: hidden; 
    border-radius: 20px;
}

.home-main-banner-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top; 
}
.home-main-banner-btn{
    font-family: Steppe;
    width: 300px;
    height: 55px;
    border-radius: 85px;
    background: #AE88AD;
    border: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 22.32px;
    letter-spacing: 1px;
    color: #FFFFFF;
    align-self: flex-start;
    padding-top: 5px;
    cursor: pointer;
}
.home-main-banner-text{
    position: absolute;
    top: -40px;
    left: 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home-main-banner-title{
    font-weight: 800;
    font-size: 80px;
    line-height: 90px;
    color: #FFFFFF;

}
.home-main-banner-title-text-p1{
    display: flex;
    gap: 15px;
    align-items: center;
}
.home-main-banner-title-text-p1 div{
    width: 180px;
    height: 65px;
    border-radius: 55px;
    background: #AE88AD;
}
.home-main-banner-title-text-p2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.home-main-banner-title-text-p2 span{
    width: 180px;
    height: 65px;
    border-radius: 55px;
    font-family: SteppeBold;
    font-weight: bold;
    font-size: 60px;
    letter-spacing: -3px;
    background: #FCE696;
    color: #F2C41F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.home-main-banner-p{
    width: 550px;
    height: 50px;
    font-family: SteppeBold;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #484848;
    text-transform: uppercase;
}
.home-main-banner-p span{
    background-color: #FCE696;
    padding: 4px 6px 1px 3px;
    border-radius: 19px;
}