.home-free-lessons-form-input{
    width: 100%;
    border: none;
    border-bottom: 1.5px solid #484848;
    font-family: Steppe;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    color: #AE88AD;
    outline: none;
    padding: 4px 2px;
    background: transparent;
}
.home-free-lessons-form-input.mobile{
    color: black;
    font-weight: 500;
    padding-left: 15px;
    padding-bottom: 0;
}
.home-free-lessons-form-input.mobile::placeholder{
    text-transform: uppercase;
    color: black;
}
.home-free-lessons-form-input::placeholder{
    /* text-transform: uppercase; */
    color: #AE88AD;
}