
.home-wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/background/back.png');
    background-size: cover;
    background-position: center;
}
