
.home-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/background/back.png');
    background-size: cover;
    background-position: center;
}
.root-container {
    display: flex;
    flex-direction: column;
    min-height: 100%; 
}

.content-container {
    flex: 1; 
}

/* .footer-container {
    flex-shrink: 0; 
} */
