.test-starting-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    width: 100%; 
    padding: 0px 80px 160px 80px;
}
.test-starting-page-btn-return-container{
    width: 100%;
    display: flex;
    justify-content: start; 
    align-items: end;
    margin-bottom: 40px;
    position: sticky;
    height: 100px;
}

.test-starting-page-test-container{
    width: 1000px;
    height: 100%;
    min-height: 200px;
    background-color: #AE88AD;
    border-radius: 40px;
    padding: 40px 40px 20px 40px;
}
.test-starting-page-test-container-header-title{
    font-family: Unbounded;
    font-weight: 600;
    font-size: 38px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.test-starting-page-test-container-registation{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-radius: 20px;
}
.test-starting-page-test-container-form{
    width: 250px;
    padding: 0 10px;
}
.test-starting-page-test-container-form-inputs{
    width: 250px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.test-starting-page-test-container-attention{
    font-family: Steppe;
    font-weight: 600;
    font-size: 16px;
    color: #484848;
}
.test-starting-page-test-container-timer{
    position: fixed;
    top: 30%;
    right: 100px;
    padding: 10px;
    background-color: #AE88AD;
    font-family: Unbounded;
    font-weight: 500;
    font-size: 20px;
    border-radius: 15px;
}
.test-starting-page-test-container-form-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.test-starting-page-test-container-form-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    font-family: Steppe;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #484848;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}
.test-starting-page-test-container-header-description{
    font-family: Steppe;
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 0 20px;
    /* display: flex;
    gap: 10px;
    flex-direction: column; */
}