.home-reviews-box{
    width: 325px;
    height: 350px;
    border: 1px solid #AE88AD;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.home-reviews-box-header{
    display: flex;
    justify-content: space-between;
    padding: 12px 15px 12px 5px;
    font-family: Unbounded;
    font-weight: 400;
    font-size: 12px;
    color: #484848;

}
.home-reviews-box-header-rating{
    display: flex;
    gap: 2px;
}
.home-reviews-box-header-rating-star{
    width: 16px;
    height: auto;
}
.home-reviews-box-header-rating-star img{
    width: 16px;
    height: auto;
}
.home-reviews-box-body{
    flex: 1;
    padding: 0 10px;
    font-family: Unbounded;
    font-weight: 400;
    font-size: 12px;
    color: #484848;
    margin-top: 10px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 768px) {
    .home-reviews-box{
        width: 250px;
        height: 350px;
        margin-bottom: 20px;
    }
    .home-reviews-box-header{
        padding: 12px 15px 12px 15px;
    }
    .home-reviews-box-body{
        padding: 10px 15px;
        margin: 0;
        font-size: 11px;
        line-height: 15px;
    }
}