.prepare-for-exams-banner{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    align-items: flex-end;
    padding: 30px 100px 50px 50px;
    gap: 80px;
}
.prepare-for-exams-banner-title{
    position: absolute;
    top: 40px;
    left: 40px;
    font-family: Unbounded;
    font-weight: 800;
    font-size: 65px;
    line-height: 80px;
    text-transform: uppercase;
    color: #484848;
    padding: 0px 10px;
}
.prepare-for-exams-banner-left{
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
}
.pepare-for-exams-banner-left-upper{
    font-family: SteppeBold;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    color: #484848;
    padding-left: 20px;
}
.pepare-for-exams-banner-left-upper span{
    color: #AE88AD;
}
.pepare-for-exams-banner-left-lower{
    font-family: Unbounded;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    padding: 15px 18px;
    color: #484848;
    background-color: #FCE696;
    border-radius: 18px;
    text-transform: uppercase;
}
.prepare-for-exams-banner-mid{
    /* flex: 3; */
    width: 500px;
    margin-left: 40px;
}
.prepare-for-exams-banner-mid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.prepare-for-exams-banner-mid-title{
    font-family: Unbounded;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #AE88AD;
    text-transform: uppercase;
}
.prepare-for-exams-banner-mid-body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.prepare-for-exams-banner-mid-body-item{
    display: flex;
    gap: 10px;
    font-family: Steppe;
    font-weight: 600;
    font-size: 16px;
    color: #484848;
}
.prepare-for-exams-banner-mid-body-item-img{
    width: 20px;
    height: 100%;
}
.prepare-for-exams-banner-mid-body-item-img img{
    width: 100%;
    height: 100%;
}
.prepare-for-exams-banner-mid-body-item-text{
    flex: 1;
}
.prepare-for-exams-banner-right{
    overflow: hidden;
    flex: 2;
}
.prepare-for-exams-banner-right img{
    border-radius: 25px;
    width: 100%;
    height: 100%;
}
