@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@font-face {
    font-family: 'Steppe';
    src: url(./fonts/Steppe-Regular.ttf);
}
@font-face {
    font-family: 'SteppeBold';
    src: url(./fonts/Steppe-Black.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFFFFF;
}